<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <group groupName="FXM" name="FXM">
        <pipelines>
          <tracking.triggerpageevent>
            <processor type="Sitecore.Support.FXM.Pipelines.Tracking.BeforeEvent.EnsureCurrentPageIsTrackedProcessor, Sitecore.Support.183196" patch:instead="processor[@type='Sitecore.FXM.Pipelines.Tracking.BeforeEvent.EnsureCurrentPageIsTrackedProcessor, Sitecore.FXM']" />
          </tracking.triggerpageevent>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>